* {
    a {
        text-decoration: none;     
    }
}

.dashboard {
    font-size: 16px;
}
#all_emp_tb  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

#all_leave_tb  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.my_team img {
    width: 156px;
    height: 150px;
    border-radius: 13%;
    border: 3px solid black;
}
.my_team {
    background-color: aqua;
}
#all_leave_tb #action_drop li{
    padding: 0px 34px;
}

.app-header {
    background-color: red;
}

/* .pagination {
    width: 200px;
    height: 200px;
    background-color: red;
} */

.profile_data p{
    font-size: 16px;
}

.rate_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rate_img_div {
    text-align: center;
}


.profile_data b{
    font-size: 17px;
}

#my_task,#assign_task,#all_task {
    margin-left:5px;
    /* background:#0dcaf0; */
    padding:6px 12px;
    border-radius:8px;
    color:#fff;
    text-decoration:none;
}

#project_start {
    margin-left: 5px;
    color: #fff;
    padding: 6px 25px;
    border-radius: 7px;
    text-decoration: none;
}

#project_delete_list {
    position:relative;
    bottom:5px;
    left:5px;
    padding:6px 10px;
    border-radius:17px;
    text-decoration:none;
}


/* .rating {
    cursor: pointer;
}

.fa-star {
    font-size: 20px;
} */
/* .star {
    display: inline-block;
    margin-right: 5px;
} */

/* .fa-star:hover ,
.star.selected {
    color: yellow;
} */

.rating {
    cursor: pointer;
    font-size: 24px;
}

.rating .star {
    display: inline-block;
    margin-right: 5px;
}

.rating .star:hover,
.rating .star.selected {
    color: gold;
}


/* Page Limitatin Start*/
/* #pageLimit a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: blue;
    padding: 0px 10px;
} */
.pagination-form {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.pagination-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0dcaf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 6px;
    color: #fff;
    z-index: 1;
}

.pagination-options .pagination-option{
    text-decoration: none;
    padding: 0px 5px;
    color: yellow;
}
.pagination-option {
    cursor: pointer;
    /* padding: 8px; */
    transition: background-color 0.3s;
}



.choosePaginate {
    color: #0dcaf0;
    /* background-color: blue; */
    border: 1px solid #0dcaf0;
    padding: 6px 12px;
    border-radius: 5px;
}
/* Page Limitatin End*/

/* Department Background */
.expen_bar {
    width: 0px;
    height: 2px;
}
.dept_bg:hover .expen_bar{
    width: 100%;
    color: #0dcaf0;
    /* background: #5F8DE5; */
    /* border-bottom: 2px solid blue; */
    /* box-shadow: 2px 3px 9px blue; */
    /* border-radius: 5px; */
    /* transition: ease 0.4s; */
    /* color: #fff; */
    
}

.dept_bg:hover b {
    letter-spacing: 4px;
    transition: ease-in-out 0.4s;   
    color: #0dcaf0;
}

.manager_img {
    width:90px; 
    height:90px;
    border-radius:45px;
    text-align:center;
}

.member_img {
    width:76px;
    height:76px;
    border-radius:38px;
}

/*JQUERY ERROR WARNING*/
.error {
    color: #ff0055;
}

/* SELECT2 BOX */



.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 2px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-container .select2-selection--multiple {
    min-height: 36px;
}

/* NAVIGATION BAR */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.vertical-nav-menu i.metismenu-icon {
    opacity:1;
    font-size: 1.2rem;
}

.dropdown-menu.dropdown-menu-lg {
    min-width: 23rem;
}
 

/* PROJECT BUTTON */

/* .btn-outline-alternate:not(:disabled):not(.disabled).active {
    color: #fff;
    background:#0dcaf0 ;
    border-color:#0dcaf0 ;
} */

/* a.bg-info:hover {
    color: yellow;
} */

/* a.bg-info:hover, a.bg-info:focus, button.bg-info:hover, button.bg-info:focus {
    background-color: yellow !important;
} */